<div class="menu_wrap">
  <div id="menu_close"></div>
  <ul>
    <li>
      <a href="./index.html" megais_ga="menu_01" title="好宅我作「 組 」">
        <img src="./images/m_1.png">
        <span>好宅我作「 組 」</span>
      </a>
    </li>
    <li>
      <a href="./about.html" megais_ga="menu_02" title="活動辦法">
        <img src="./images/m_2.png">
        <spna>活動辦法</spna>
      </a>
    </li>
    <li>
      <a href="javascript:;" onclick="alert('敬請期待!')" megais_ga="menu_03" title="得獎名單">
        <img src="./images/m_3.png">
        <span>得獎名單</span>
      </a>
      <!-- <a href="./winner.html" megais_ga="menu_03" title="得獎名單">
        <img src="./images/m_3.png">
        <span>得獎名單</span>
      </a> -->
    </li>
    <li>
      <a href="http://40thsp.hbhousing.com.tw" target="_blank" megais_ga="menu_04" title="預約賞屋抽好禮">
        <img src="./images/m_4.png">
        <span>預約賞屋抽好禮</span>
      </a>
    </li>
  </ul>
</div>